
@{
    ViewData["Title"] = "KategoriGuncelle";
    Layout = "~/Views/Panel/_Panel.cshtml";
}

@using CrmEntity.Concrete
@model TblKategori
<div class="container-fluid">
    <div class="content">
        <div class="embed-responsive">
            <div class="row">
                <div class="card">
                    <h4 class="text-danger text-center">Kategori Güncelle</h4>
                    <div class="card-body">

                        <form method="post">
                            <div class="mb-1">
                                <label class="form-label">Kategori Adı</label>
                                @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control form-control-sm" })
                                <p class="text-danger"> @Html.ValidationMessageFor(x => x.KategoriAd) </p>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Özle Kod</label>
                                @Html.TextBoxFor(x => x.OzelKod, new { @class = "form-control form-control-sm" })
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Rengi</label>
                                @Html.TextBoxFor(x => x.Renk, new { @class = "form-control form-control-sm" })
                            </div>
                            <div class="mb-1">
                                <button class="btn btn-primary btn-xs">Kategori Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

